@import './css/desktop.css';
@import './css/mobile.css';

:root {
    /*Sumary*/
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue-circle: hsla(256, 72%, 46%, 1);
    --Persian-blue-circle: hsla(241, 72%, 46%, 0);

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

body {
    background-color: var(--White);
    width: 100%;
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    height: 100vh;
    font-weight: 500;
}

main h3 {
    margin: 25px 0px;
}

main .result {
    background: linear-gradient(180deg, var(--Light-slate-blue), var(--Light-royal-blue));
    text-align: center;
}

main .result h3 {
    color: var(--Pale-blue);
}

main .result .xTo100 span:first-child {
    color: var(--White);
    display: block;
    font-weight: 700;
    font-size: 4rem;
}

main .result .xTo100 span:last-child {
    color: var(--Light-lavender);
    font-size: 1rem;
}

main .summary {
    background-color: var(--White);
    text-align: left;
}

main .summary h3 {
    color: var(--Dark-gray-blue);
}

main .summary ul {
    list-style: none;
    width: 100%;
}

main .summary button {
    border: none;
    border-radius: 40px;
    width: 100%;
    padding: 15px;
    background-color: black;
    color: white;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    transition: 200ms;
}

main .summary button:hover {
    background: linear-gradient(180deg, var(--Light-slate-blue), var(--Light-royal-blue));;
}

main .summary ul li div img {
    margin-right: 10px;
}

main .summary ul li div:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
}

main .summary ul li div:last-child {
    padding-right: 15px;
}

main .summary ul li div:first-child>.skills,
main .summary ul li div:last-child>span {
    font-weight: 800;
}

main .summary ul li div:last-child>span {
    color: var(--Dark-gray-blue);
}

.red {
    color: var(--Light-red);
}

.red-alpha {
    background-color: hsla(0, 100%, 67%, 0.1);
}

.yellow {
    color: var(--Orangey-yellow);
}

.yellow-alpha {
    background-color: hsla(39, 100%, 56%, 0.1);
}

.green {
    color: var(--Green-teal);
}

.green-alpha {
    background-color: hsla(166, 100%, 37%, 0.1);
}

.blue {
    color: var(--Cobalt-blue);
}

.blue-alpha {
    background-color: hsla(234, 85%, 45%, 0.1);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}